body {
    background: white;
}

.box-area {
    width: 930px;
}

.right-box {
    padding: 40px 30px 40px 40px;
    background-color: #A9C8E6;
}


.input-field,
.google {
    border-color: rgb(229, 229, 229);
}

::placeholder {
    font-size: 16px;
}

@media only screen and (max-wifht: 768px) {
    .box-area {
        margin: 0 10px;

    }

    .left-box {
        height: 100px;
        overflow: hidden;
    }

    .right-box {
        padding: 20px;
    }
}

.form-check .form-check-input {
    float: left;
    margin-left: -1.2em;
}

.lbl-chk {
    margin-left: .2rem;
}