.my-modal {
    border-radius: 15px;
}

/* form related Styles */
.my-input-field::placeholder {
    color: #9d9d9d;
}

.my-input-field {
    color: #000000;
    background-color: #F7F8FC;
    border: 1px #BBBBBB;
    border-style: solid;
}

.form-control.is-valid:focus,
.was-validated :valid.form-control {
    background-image: inherit !important;
    box-shadow: inherit !important;
    background-color: #F7F8FC;
    color: #222222;
    border: 1px #BBBBBB;
    border-style: solid;
}

.my-form-required {
    color: red;
}

/* end */

/* button related Styles */

.my-button-yes {
    border: 1px #186cb0;
    border-style: solid;
    background-color: #186cb0;
    color: #ececec;
}

.my-button-yes:hover {
    background-color: #04314a;
    color: #ffffff;
    border: 1px #124F6F;
    border-style: solid;
}

.my-button-no {
    background-color: #ffffff;
    color: #124F6F;
    border: 1px #124F6F;
    border-style: solid;
}

.my-button-no:hover {
    background-color: #f5f8ff;
    color: #124F6F;
    border: 1px #124F6F;
    border-style: solid;
}

.my-button-danger {
    color: white;
    background-color: rgb(191 11 11);
}

.my-button-danger:hover {
    background-color: rgb(122, 6, 6);
    color: rgb(255, 255, 255);
    border: 1px rgb(191 11 11);
    border-style: solid;
}

.my-button-selected {
    background-color: #124F6F;
    color: white;
    border: 1px #124F6F;
    border-style: solid;
}

.my-button-selected:hover {
    background-color: #04314a;
    color: #ffffff;
    border: 1px #124F6F;
    border-style: solid;
}

.my-button-unselected {
    background-color: #ffffff;
    color: rgb(144, 144, 144);
    border: 1px rgb(144, 144, 144);
    border-style: solid;
}

.my-button-unselected:hover {
    background-color: #f1f1f1;
    color: rgb(144, 144, 144);
    border: 1px rgb(144, 144, 144);
    border-style: solid;
}

.my-btn-view {
    border: -100px #186cb0;
    border-style: solid;
    background-color: #186cb0;
    color: #ececec;
}

.my-button-back {
    font-size: 20px;
}

/* end */


/* badges related Styles */

.my-badge-approved {
    color: #1E7634;
    background-color: #D6F1D5;
    font-weight: bold;
}

.my-badge-pending {
    color: #756900;
    background-color: #F4F3CF;
    font-weight: bold;
}

.my-badge-denied {
    color: #c70000;
    background-color: #FFD3D3;
    font-weight: bold;
}

.my-badge-report-needed {
    color: #0036C1;
    background-color: #d1defc;
    font-weight: bold;
}

/* end */

/* Areas related Styles */

#mainArea {
    padding-top: 27.2px;
}

#mainArea h5 {
    margin-bottom: 20px;
    font-weight: bold;
}

#mainArea h1 {
    font-size: 24;
    font-weight: bold;
}

#mainArea .input-field {
    background-color: #F7F8FC;
    color: #222222;
    border: 1px #BBBBBB;
    border-style: solid;
}

#mainArea .input-field::placeholder {
    color: #a3a3a3;
}

#subArea-top {
    background-color: white;
    border: 1px #BBBBBB;
    border-style: solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 30px;
}

#subArea-bottom {
    background-color: white;
    border: 1px #BBBBBB;
    border-style: solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: none;
    padding: 30px;
}

#subArea-single {
    background-color: white;
    border: 1px #BBBBBB;
    border-style: solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 30px;
}

label {
    font-weight: 600;
    color: #7d7d7d;
    font-size: 12px;

}

.input-field::placeholder {
    font-size: 16px;
    color: #cdcdcd;
}

/* end */


/* Data Table related Styles */

#tableHead .dt-orderable-asc {
    border-bottom: #e1e1e1;
    border-style: solid;
}

#tableHead .dt-column-order {
    color: #124F6F;
}

#tableHead .dt-column-title {
    color: #7d7d7d;
    font-weight: 600;
    font-size: 15px;
}

#myTable td {
    padding-left: 20px;
    padding-right: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    vertical-align: middle;
}

.right-aligned-cell {
    text-align: left !important;
}

/* end */