.my-button-yes {
    border: 1px #186cb0;
    border-style: solid;
    background-color: #186cb0;
    color: #ececec;
}

.my-button-yes:hover {
    background-color: #04314a;
    color: #ffffff;
    border: 1px #124F6F;
    border-style: solid;
}

.my-button-no {
    background-color: #ffffff;
    color: #124F6F;
    border: 1px #124F6F;
    border-style: solid;
}

.my-button-no:hover {
    background-color: #f5f8ff;
    color: #124F6F;
    border: 1px #124F6F;
    border-style: solid;
}

.my-input-field {
    color: #000000;
    background-color: #F7F8FC;
    border: 1px #BBBBBB;
    border-style: solid;
}

.my-input-field::placeholder {
    color: #9d9d9d;
}

.my-modal {
    border-radius: 15px;
}

.form-control.is-valid:focus,
.was-validated :valid.form-control {
    background-image: inherit !important;
    box-shadow: inherit !important;
    background-color: #F7F8FC;
    color: #222222;
    border: 1px #BBBBBB;
    border-style: solid;
}

.my-button-danger {
    color: white;
    background-color: rgb(191 11 11);
}

.my-button-selected {
    background-color: #124F6F;
    color: white;
    border: 1px #124F6F;
    border-style: solid;
}

.my-button-selected:hover {
    background-color: #04314a;
    color: #ffffff;
    border: 1px #124F6F;
    border-style: solid;
}

.my-button-unselected {
    background-color: #ffffff;
    color: rgb(144, 144, 144);
    border: 1px rgb(144, 144, 144);
    border-style: solid;
}

.my-button-unselected:hover {
    background-color: #f1f1f1;
    color: rgb(144, 144, 144);
    border: 1px rgb(144, 144, 144);
    border-style: solid;
}

.my-form-required {
    color: red;
}

.my-btn-view {
    border: -100px #186cb0;
    border-style: solid;
    background-color: #186cb0;
    color: #ececec;
}

.my-badge-approved {
    color: #1E7634;
    background-color: #D6F1D5;
    font-weight: bold;
}

.my-badge-pending {
    color: #756900;
    background-color: #F4F3CF;
    font-weight: bold;
}

.my-badge-denied {
    color: #c70000;
    background-color: #FFD3D3;
    font-weight: bold;
}