/* *mano mano i custommize ang data table */

.dt-search {
    margin-bottom: 20px;
}

.dt-scroll-body {
    background-color: #F7F8FC;
}


/* * end */


#tableHead .dt-orderable-asc {
    border-bottom: #e1e1e1;
    border-style: solid;
}

#tableHead .dt-column-order {
    color: #124F6F;
}

#tableHead .dt-column-title {
    color: #7d7d7d;
    font-weight: 600;
    font-size: 15px;
}

.sort-btn {
    background-color: #ffffff;
    color: #124F6F;
    border: 1px #124F6F;
    border-style: solid;
}

.sort-btn:hover {
    border: 1px #38799d;
    border-style: solid;
}

.dt-search label {
    font-size: 14px;
    color: #454545;
}

.plus-icon {
    font-weight: bold;
}

#myTable td {
    padding-left: 20px;
    padding-right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.form-outline i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}


label {
    font-weight: 600;
    color: #7d7d7d;
    font-size: 12px;
}

